.footer-center{
    background:  #FAFAFA;;
}
.id {
    margin-top: 186px;

}.links-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 160px;
    font-size: 14px;
    font-weight: bold;
} 

.links-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 160px;
    font-size: 14px;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

.links-GSWT {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;

    padding-top: 43px;
    padding-bottom: 43px;
    margin-bottom: 56px;
    width: 73%;
    border-bottom: 1px solid black;

    
}