*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1440px;
    
}
@media (max-width: 1440px) {
    .container{
        min-width: 970px;
      
     
    }
    
}
@media (max-width: 992px) {
    .container{
        min-width: 750px;
       
    }
    
}
@media (max-width: 767px) {
    .container{
        min-width: none;
       
     
    }
    
}